body{
    width: auto;
}

#ola{
    background: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
h1{
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;

  /* Adicionado: */
  -webkit-text-fill-color: transparent;
    font-size:15vh;
    font-weight: bold;
    font-family:Cambria;
}
#text{
    padding: 45vh 0vh 0vh 0vh;
    color: white;
}
h3{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: x-large;
}

h2{
    color: #2cb7f6;
    letter-spacing: 3px;
    font-weight: 800;
    text-align: center;
}
#navTitle {
    font-weight: bold;
    font-size: 20px;
}
#navbar a{
    font-size: 18px;
    margin-left: 8px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
#navbar a:hover{
    color: #2cb7f6;
    transition: 1s;
}
.containers{
    position: relative;
    height: 105vh;
    padding: 30px;
    background-color: #181a1b;
    color:  white;
}
#sobreMim{
    text-align: center;
    margin: 15px;
    border-style: solid;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-color: white;
}
#sobreTxt p{
    text-indent: 30px;
    font-family: 'Times New Roman';
    font-size: medium;
}


#tecnologias{
    background: #2b2e30;
    text-align: center;
}

#tecnologias h2{
    margin-bottom: 15px;
    margin: 15px;  
}
#tecnologiasLogos{
    padding: 10%;
}
#tecnologias img{
    margin: 15px;
    height: 28vh;
}
.cardTecnologias{
    box-shadow: white;
    padding: 5px;
}
#contato{
    text-align: center;
    height: 40vh;
}

#lstContato{
    list-style: none;
    display: inline-flex;
}
#lstContato li{
    height: 50px;
    display: flex;
    margin: 20px;
    text-align: left;
}
.icons{
    width: 30px;
}

/* Mobile - Vertical */
@media (max-width: 600px){
    h1 span{
        font-size: 75px;
    }
    #lstContato{
        display: grid;
    }
    h1{
        font-size: 7vh;
    }
    h3{letter-spacing: 3px;}
    #sobre{
        height: auto;
    }
    #sobreImg{display: none;}
    #sobreTxt p{
        font-size: 13px;
    }
    #tecnologias{
        height: auto;
    }
    #tecnologias img{
        height: 9vh;
    }
    #contato{height: fit-content}
}

/* Mobile - Horizontal */
@media (max-width: 900px){

    .containers{height: auto;}
    #sobreTxt{margin-top: 20px;}
    #contato{
        height: auto;
    }
}