@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');

#ola{
    background: url("https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
h1{
    color: #2cb7f6;
    font-size:15vh;
    font-weight: bold;
    font-family:Cambria;
}
#text{
    padding: 50vh 0vh 0vh 0vh;
    color: white;
}
h3{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: x-large;
}
#navbar{

}
.containers{
    position: relative;
    height: 80vh;
    padding: 30px;
    background-color: #181a1b;
    color:  white;
}
#sobreImg{
    background: url("https://images.unsplash.com/photo-1582133925315-694371d92da2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
    background-size: cover;
}
#sobreMim{
    text-align: center;
    margin: 15px;
    color: #2cb7f6;
    border-style: solid;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-color: white;
}
#sobreTxt p{
    font-family: 'Times New Roman';
    font-size: medium;
}


#tecnologias{
    background: #2b2e30;
    text-align: center;
}
#tecnologias h3{
    margin-bottom: 15px;
    text-align: center;
    margin: 15px;
    color: #2cb7f6;
    border-style: solid;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-color: white;
}
#tecnologiasLogos{
    padding: 10%;
}
.cardTecnologias{
    box-shadow: white;
    padding: 5px;
}
#contato{
    text-align: center;
    height: 40vh;
}

#lstContato{
    list-style: none;
    display: inline-flex;
}
#lstContato li{
    height: 50px;
    display: flex;
    margin: 20px;
    text-align: left;
}
.icons{
    width: 30px;
}